.movie-details{
    margin-top: 20px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.movie-trailer{
    min-width: 60%;
}

.movie-summary-details{
    margin-top: 0;
    max-width: 750px;
}
  
.movie-rating {
  font-size: 18px;
}

.movie-specs-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 40%;
    max-width: 725px;
    flex-wrap: wrap;
    column-gap: 10px
}

@media only screen and (min-width: 200px) and (max-width: 1085px)  {
    .movie-details{
        flex-direction: column;
    }  
    .movie-trailer{
        min-width: 100%;
    }
}